header {
    display: inline;
}

#highscore {
    float: left;
    width: 50%;
    text-align: left;
}

#timer {
    text-align: right;
    float: right;
    width: 50%;
}
    
body {
    background-color: #cef5e5;
    padding: 40px;
}
.hidden {
    display: none;
}

#container, #result {
    text-align: center;
}

h1 {
    padding: 10px;
    color: #043130;
    font-weight: bolder;
}

p {
    font-size: 20px;
    text-align: center;
}

button {
    padding: 10px;
    margin: 10px;
    width: 400px;
    text-align: left;
    cursor: pointer;
    font-size: 20px;
    background-color: #2a6e6d;
    color: white;
    border-radius: 10px;
    display: block;
}

button:hover {
    background-color: #15a752;
}

button:active {
    background-color: #36c1cb;
}

.startQuizButton {
    margin-top:40px; 
    width:200px; 
    text-align:center; 
    display:inline;
}
.answerBtn {
    display: block;
}

#answer {
   margin-left: 50px;

}

#questions {
    font-size: 25px;
}

#result {
    padding: 10px;
    font-size: 25px;
    font-style: oblique;
    border-top: 2px solid #108c44;
    color:#108c44;
    text-align: center;
}

#saveInfo {
    margin-top: 10%;
    font-size: 22px;
}

#saveScoreBtn {
    width: 200px;
    text-align: center;
    display: inline;
}